[defaults]
# Allow temp directory creation in /tmp instead of user home
remote_tmp = /tmp/.ansible-tmp
# Suppress host key checking
host_key_checking = False
# Use local connections more efficiently
pipelining = True
